@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities if needed, but mostly handled in config now */
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}
